<h1>All ads</h1>

<div class="container">
  <% @posts.each do |post| %>
    <h3>
      <%= link_to post.title, post %>
    </h3></br>
    <p>
      <%= post.picture_url %>
    </p></br>
  <% end %>
</div>
